.nav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 10px;
  }

  .gallery {
     height: 100%; 
     width: 70px;
     padding: 10px;
     margin-left: 41vw;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      color: black;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
