.image-gallery {
  border: none;
}

.image-gallery:hover {
  box-shadow: none;
}

.top-gallery {
  margin-left: 14vw;
  margin-top: 3vh;
}

.top-gallery h2{
  display: inline;
}

.top-gallery.hello{
  display: inline;
}

.other-gal {
  margin-left: 17vw;
}