// #sidebar {
//   min-width: 100px;
//   max-width: 250px;
//   height: 100%;
//   color: #fff;
//   transition: all 0.5s;
//   margin-top: 20vh;

//   a {
//     text-decoration: none;
//     margin-left: 20px;
//     font-size: large;
//     color: #00b0b0;
//   }

//   a:hover {
//     color: #007e7e;
//     font-weight: bold;
//   }

//   .plus {
//     font-size: 25px;
//   }
// }

// #sidebar.active {
//   margin-left: -100px;
//   margin-right: 100px;
// }

#sidebar {
  min-width: 100px;
  max-width: 250px;
  // height: 100%;
  color: #fff;
  transition: all 0.5s;
  margin-top: 20vh;
  background-color: #00B0B0;
  border-radius: 0px 15px 15px 0px;
  text-align: right;
  line-height: 300%;
  a {
    text-decoration: none;
    margin-left: 20px;
    font-size: large;
    margin-right: 10px;
    color:white;
  }
  a:hover {
    // color: rgb(0, 131, 112);
    font-weight: bold;
  }
  .plus {
    font-size: 25px;
  }
}
#sidebar.active {
  margin-left: -100px;
  margin-right: 100px;
}

