#sidebar {
  min-width: 100px;
  max-width: 250px;
  height: 100%;
  color: #fff;
  transition: all 0.5s;
  margin-top: 20vh;

  a {
    text-decoration: none;
    margin-left: 20px;
    font-size: large;
    color: #00b0b0;
  }

  a:hover {
    color: #007e7e;
    font-weight: bold;
  }

  .plus {
    font-size: 25px;
  }
}

#sidebar.active {
  margin-left: -100px;
  margin-right: 100px;
}

